@import 'bourbon';

$highlight-color: #fff;
$lights-off-highlight: #444357;
$lights-off-color: #2f2e44;
$lights-off-lolight: #304882;
$lights-off-alt: #2f385b;
$lights-on-highlight: #fedc66;
$lights-on-color: #fed54c;
$lights-on-lolight: #f0c64a;
$lights-on-alt: #f6cc4a;


#map-canvas {
  height: 0;
}
html,
body {
  margin: 0;
}
body {
  font-family: sans-serif;
  font-weight: 100;
  background-color: $lights-off-color;
}
html,
body,
.content,
.app {
  height: 100%;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}
.app {
  @include transition( background-color 0.3s ease );
}
  .app--waiting {
    background-color: $lights-off-color;
    color: $highlight-color;
  }
  .app--unknown {
    background-color: $lights-off-color;
    color: $highlight-color;
  }
  .app--on {
    background-color: $lights-on-color;
    color: $highlight-color;
    text-shadow: 0 2px $lights-on-lolight;
  }
  .app--off {
    background-color: $lights-off-color;
    color: $highlight-color;
    text-shadow: 0 2px $lights-off-lolight;
  }

.loading {
  margin-top: 1em;
  text-align: center;
}

.navigation a {
  display: inline-block;
  width: 25%;
  color: $highlight-color;
  text-align: center;
  line-height: 1.5;
  font-size: 2em;
  text-decoration: none;
  overflow: hidden;
  text-indent: -110%;
}

.location {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 1em;
  position: relative;
  &:after {
    content: "";
    display: block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    position: absolute;
    top: 104%;
    @include box-sizing(border-box);
    left: 1em;
    right: 1em;
  }
}
  .location--on {
    background-color: $lights-on-highlight;
    &:after {
      border-bottom-color: $lights-on-lolight;
    }
  }
  .location--off {
    background-color: $lights-off-highlight;
    &:after {
      border-bottom-color: $lights-off-lolight;
    }
  }

.answer {
  text-align: center;
}
  .answer--is {
    margin-left: -3em;
    padding-right: 1em;
  }
  .answer--wrapper {
    padding-top: 1em;
  }
  .answer--answer {
    font-size: 10em;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: -0.05em;
  }

.message {
  padding: 1em;
  font-size: 1.3em;
  font-style: oblique;
}

.nextup {
  padding: 1em;
  border-top-width: 2px;
  border-top-style: solid;
}
  .nextup--on {
    border-top-color: $lights-on-lolight;
    background-color: $lights-on-alt;
  }
  .nextup--off {
    border-top-color: $lights-off-lolight;
    background-color: $lights-off-alt;
  }
  .nextup--header {
    text-transform: uppercase;
    font-weight: bold;
  }
  .nextup--date,
  .nextup--times {
    display: inline-block;
    width: 50%;
    @include box-sizing(border-box);
  }
  .nextup--date {
    font-weight: bold;
    font-size: 2.5em;
    vertical-align: top;
  }
  .nextup--times {
    font-weight: normal;
    text-align: right;
  }

.i-pin {
  width: 1em;
  vertical-align: text-bottom;
  padding-right: 0.5em;
  .i-outer {
    fill: $highlight-color;
  }
  .app--on & .i-inside,
  .app--on & .i-dot {
    fill: $lights-on-color;
  }
  .i-inside,
  .i-dot {
    fill: $lights-off-color;
  }
}

.transition--a-enter {
  opacity: 0.01;
  @include transition( opacity .3s ease .1s );
  &.transition--a-enter-active {
    opacity: 1;
  }
}

.transition--b-enter {
  opacity: 0.01;
  @include transition( opacity .3s ease .5s );
  &.transition--b-enter-active {
    opacity: 1;
  }
}


.app--on .i-inside {
  @include animation( high-power 6s ease-in-out infinite both );
}

@include keyframes(high-power) {
  0% {
    fill: $lights-on-highlight;
  }
  50% {
    fill: $lights-on-color;
  }
  100% {
    fill: $lights-on-highlight;
  }
}